# 클래스

In [ ]:
class 붕어빵 :
    def __init__(self,속재료) :
        self.속재료 = 속재료

In [ ]:
피자붕어빵 = 붕어빵('피자')
팥붕어빵 = 붕어빵('팥')

## 클래스 만들기

In [ ]:
# __init__이 없이 클래스 만들기
class FourCal :
    def set_data(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return self.num1 + self.num2

    def diff(self):
        return self.num1 - self.num2

    def mul(self):
        return self.num1 * self.num2

    def div(self):
        return self.num1 / self.num2

a = FourCal()
a.set_data(10,20)
print(a.add())

30

In [ ]:
# __init__포함 클래스 만들기
class FourCal :
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return self.num1 + self.num2

    def sub(self):
        return self.num1 - self.num2

    def mul(self):
        return self.num1 * self.num2

    def div(self):
        return self.num1 / self.num2

a = FourCal(10,20)
print(a.add())
print(a.sub())
print(a.mul())
print(a.div())

30
-10
200
0.5

### 실습문제
1. BankAccount 이름의 클래스를 생성합니다.
2. 생성자 메서드로, 계좌 번호, 예금주 이름, 초기 잔액을 받아 계좌를 생성합니다.
3. 입금, 출금, 현재 계좌의 잔액을 반환하는 메서드를 생성합니다.

In [ ]:
class BankAccount:
    def __init__(self,account, name, change):
        self.account = account
        self.name = name
        self.change = change

    def add(self,money):
        self.change = self.change + money

    def sub(self,money):
        self.change = self.change - money

young = BankAccount('123-456-789','이영제',1000000)
young.sub(200000)
print(young.change)

800000

## 상속

In [34]:
class MoreFourCal(FourCal):
    def div(self):
        if self.num2 == 0:
            return 0
        else:
            return self.num1 /self.num2

In [31]:
a = MoreFourCal(4,2)
a.add()

6

In [35]:
b = MoreFourCal(2,0)
b.div()

0