<a href="https://colab.research.google.com/github/2youngje/SeSAC_python_basic/blob/main/1_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

In [ ]:
def sum(num1,num2) :
    result = num1 + num2
    return result

4

In [ ]:
sum(3,4)

7

In [ ]:
# 입력값이 없는 경우
def say() :
    return 'Hi'
say()

'Hi'

In [ ]:
def sum2(num1, num2):
    print(num1+num2)
a = sum(3,4)
b = sum2(3,4)

7

In [ ]:
print(a)
print(b)

7
None

In [ ]:
def say_myself(name, old, man = True):
    print(f'나의 이름은 {name}입니다.')
    print(f'나의 나이는 {old}입니다.')
    if man :
        print('남자입니다')
    else :
        print('여자입니다.')

say_myself('홍길동', 20)
say_myself('유재석', 55,True)
say_myself('박명순', 25, False)

나의 이름은 홍길동입니다.
나의 나이는 20입니다.
남자입니다
나의 이름은 유재석입니다.
나의 나이는 55입니다.
남자입니다
나의 이름은 박명순입니다.
나의 나이는 25입니다.
여자입니다.

## 전역변수 vs 지역변수
- 전역변수 : 함수 외부에서 선언된 변수이며 프로그램 전체에서 사용 가능하다.
- 지역변수 : 함수 내부에서 선언된 변수이며 해당 함수 내부에서만 사용할 수 있다.

In [ ]:
def test():
    local_var = 20 #지역 변수
    return local_var
a = test()
print(a)

20

In [ ]:
def test2():
    global local_var #전역 변수 설정
    local_var = 20 #전역 변수 정의
test2()
print(local_var)

20

Example 2-9. 입력하는 모든 수의 평균을 계산하는 함수 만들기
* 입력 개수에 상관없이 사용하기 위해, 함수 입력 값 자리에, *args를 사용
-> def means(*args):

In [ ]:
def means(*args):
    sum1 = 0
    count1 = 0
    for i in args:
        sum1 = sum1 + i
        count1 = count1 + 1
    result = sum1/count1
    return result
print(means(1,2,3,4,5,6,5,5,5))

4.0

Example 2-10. 두 수를 입력 받아 사칙연산(+,-, x, /)을 하는 함수 만들기

In [ ]:
def cul():
    num1 = int(input('첫번 째 숫자를 입력하세요! : '))
    a = input("기호를 입력하시오 : ")
    num2 = int(input('두번 째 숫자를 입력하세요! : '))
    if a == '+' :
        return num1 + num2
    elif a == '-' :
        return num1 - num2
    elif a == '*' :
        return num1 * num2
    elif a == '/' :
        return num1 / num2
    elif a == '//' :
        return num1 // num2
    elif a == '%' :
        return num1 % num2
    else :
        return '제공되지 않는 기호 입니다.'


cul()

첫번 째 숫자를 입력하세요! : 1
기호를 입력하시오 : +
두번 째 숫자를 입력하세요! : 2

3