# 일반적인 방법[sqlite]

In [11]:
import sqlite3

conn = sqlite3.connect('chinook.db')
c = conn.cursor()

query = '''
SELECT *
FROM albums
'''

c.execute(query)

In [12]:
print(c.fetchone())

(1, 'For Those About To Rock We Salute You', 1)

In [13]:
c.close()
conn.close()

# 판다스로 가져오기[sqlite]

In [15]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('chinook.db')
c = conn.cursor()

query = '''
SELECT *
FROM albums
'''

df = pd.read_sql(query,conn)
df.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [17]:
import psycopg2

db_params = {
    "host" : 'localhost',
    'database' : 'postgres',
    'user' : 'postgres',
    'password' : '0000',
    'port' : '5432'
}

In [19]:
try:
    conn = psycopg2.connect(**db_params)
    print(conn)
    print("데이터베이스 연결 성공")
except (Exception, psycopg2.Error) as error:
    print(error)
finally:
    if conn:
        conn.close()
    print("데이터베이스 연결 종료")

<connection object at 0x0000019BCC8A3DE0; dsn: 'user=postgres password=xxx dbname=postgres host=localhost port=5432', closed: 0>
데이터베이스 연결 성공
데이터베이스 연결 종료